/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* this will deprecate the default behavior of paading and boxing to the entire page */
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* side border padding */
  padding: 30px;
}
/* header */
.header {
  /* PARENT */
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right,
      #7dd56596,
      rgba(40, 180, 133, 0.788)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* SLOPE */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px; /* width is handled by browser */
}

.text-box {
  /* center */
  /* measure with parent */
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); /* relative to element */
  /* get the text inside to center */
  text-align: center;
}

.heading-primary {
  /* Common styles */
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary-main {
  /* span is inline we can make 2 lines */
  display: block; /* 100 percent width */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* Animation */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-delay: 3s; */
  /* animation-iteration-count: 3 /* animation times, no of count */
  /* animation-timing-function: ease-out; there are ease-in, ease-out, ease */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  margin-bottom: 40px;
  /* Animation- shortcut*/
  animation: moveInRight 1s ease-out;
}

/* Animation */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(+10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* pseudo class */
/* initial state */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 40px;
  display: inline-block;
  position: relative;
  /* smoothen */
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  /* shadow x Y BLUR color*/
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(1px); /* rekative to the initial stage */

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-white {
  background-color: white;
  color: #777;
}

/* after pseudo class */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px; /* same as the button initial */
  transition: all 0.4s ease;
}

/* place behind */
.btn-white::after {
  background-color: white;
  position: absolute; /* reference is the btn */
  top: 0;
  left: 0;
  z-index: -1; /* 2 stuffs buttons */
}

/* after hovering */

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInButton .5s ease 0.65s;
  /* prevent default add animation at the starting*/
  animation-fill-mode: backwards;
  
}
